/* contact.css */

/* Importation des variables de couleur */
/* @import url('./index.css'); */

/* Style du formulaire */
.formulaireMessage {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
}

.formulaireMessage h3 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.titreFormulaireMessage {
  padding: 100px 50px;
  background: linear-gradient(177deg, #605f5f, #639096);
  background-image: url(../../assets/pQ.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
  color: white;
}

.formMessage label {
  display: block;
  margin-bottom: 5px;
  font-family: sans-serif;
  color: var(--primary-color);
}

.formMessage span {
  font-size: 15px;
  font-weight: 500;
  font-family: sans-serif;
}

.formMessage select,
.formMessage input[type="text"],
.formMessage input[type="email"],
.formMessage textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid var(--gray-color);
  border-radius: 5px;
  box-sizing: border-box;
}

.formMessage textarea {
  resize: vertical;
}

.formMessage button {
  width: 100%;
  padding: 10px;
  background-color: var(--green-color);
  color: var(--white-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.formMessage button[type="reset"] {
  background-color: var(--red-color);
  max-width: 150px;
  float: right;
  margin: 5px 0;
}

.formMessage button:hover {
  background-color: var(--primary-color);
}

.isetLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: -webkit-center;
  background: #8c8c8c75;
  margin: 15px 0;
  padding: 15px;
}

.isetLogo img {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.isetContacts {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(167deg, #656565, #000000);
  font-size: 17px;
  margin-top: 60px;
  padding: 20px;
}

.socialmidia {
  display: flex;
  justify-content: space-between;
  width: 50%;
  font-size: 30px;
  margin: 0 auto;
}

.contactData {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.socialmidia a {
  color: #16a085;
}

.adresse,
.telephone,
.fax {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 0;
}

.adresse a,
.telephone a,
.fax a {
  color: white;
  padding: 0 5px;
  text-decoration: none;
  font-weight: 700;
  font-family: sans-serif;
  font-size: 15px;
}

.adresse label,
.telephone label,
.fax label {
  color: #16a085;
  font-size: 18px;
  font-family: sans-serif;
}

.serviceFormContent {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.contactPage {
  background: linear-gradient(177deg, #0b0b0bd1, #09707e);
  color: white;
}

.besoinTextHeader {
  color: #9d9d9d;
}

.besoinTextImg {
  color: #9d9d9d;
}
/* Médias requêtes pour la réactivité */
@media only screen and (max-width: 768px) {
  .formulaireMessage {
    padding: 10px;
  }

  .titreFormulaireMessage {
    padding: 50px 20px;
  }

  .isetContacts {
    flex-direction: column;
    margin: 10px 0;
  }

  .socialmidia {
    width: 90%;
    font-size: 20px;
  }

  .adresse a,
  .telephone a,
  .fax a {
    font-size: 12px;
  }

  .adresse label,
  .telephone label,
  .fax label {
    font-size: 15px;
  }
}

@media only screen and (max-width: 480px) {
  .formulaireMessage {
    max-width: 90%;
    padding: 10px;
  }

  .titreFormulaireMessage {
    padding: 50px 20px;
  }

  .isetContacts {
    flex-direction: column;
    margin: 10px 0;
  }

  .socialmidia {
    width: 90%;
    font-size: 20px;
  }

  .adresse a,
  .telephone a,
  .fax a {
    font-size: 12px;
  }

  .adresse label,
  .telephone label,
  .fax label {
    font-size: 15px;
  }
}
